<%- include('../../Blocks/header') %>

<div class="container landing-header">
  <div class="center">
    <h1>
      Posts
    </h1>
    <p>
      Here are some of our blog's posts.
    </p>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path class="wave" fill-opacity="1" d="M0,128L48,133.3C96,139,192,149,288,160C384,171,480,181,576,176C672,171,768,149,864,149.3C960,149,1056,171,1152,160C1248,149,1344,107,1392,85.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>
<div class="secondary-background">
  <div class="container posts">
    <% blog.cache.forEach((post) => { %>
      <a href="/view/<%= post.id %>">
        <div class="post">
          <h2><%= post.title %></h2>
          <p><i><%= truncateString(post.description, 96) %></i></p>
          <div class="details"><i class="fas fa-calendar-week"></i> <%= post.date.toLocaleString().replace(/[0-9][0-9]:[0-9][0-9]:[0-9][0-9]$/, ''); %> - <%= post.author %></div>
        </div>
      </a>
    <% }); %>
  </div>
</div>

<% 

function truncateString(str, num) {
  if (str.length > num) {
    return str.slice(0, num) + "...";
  } else {
    return str;
  }
}

%>
