<title>
  Dema City - <%= user.name.length > 1 ? user.name : user.username %>
</title>

<meta name="theme-color" content="#1c1c1c">
<meta property=”og:type” content=”website”/>
<meta property="og:title" content="Dema City - <%= user.name.length > 1 ? user.name : user.username %>">
<meta property="og:url" content="https://dema.city/user/<%= user.username %>">
<meta property="og:description" content="<%= user.about %>">
<meta property="og:image" content="<%= user.iconUrl ? user.iconUrl : `${data.cdn}/images/DemaCity.png` %>">

<%- include('../../Blocks/header') %>

<script rel="preload" src="<%= data.cdn %>/scripts/cal.js" as="script"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<div class="alert" id="clipboard-alert">
  <span class="copy-to-clipboard">
    Copied to clipboard!
  </span>
</div>

<div class="container user-profile">
  <div class="header box two-column">
    <div class="column-profile-header">
      <div class="icon" id="user-icon">
        <div class="ic"><img src="<%= user.iconUrl %>" alt="<%= user.name %>"></div>
        <i class="fas fa-retweet"></i>
      </div>

      <h1 class="name">
        <%= user.name %>
      </h1>
      <h5 class="username">
        <span class="id copyable" id="user_id"><%= user.id %></span>
        <span class="user copyable" id="user_username">@<%= user.username %></span>
      </h5>
      <div class="social-bar">
        <% if(user.socials?.instagram) { %>
          <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/<%= user.socials?.instagram %>"><i class="fab fa-instagram"></i></a>
        <% } %>
        <% if(user.socials?.twitter) { %>
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/<%= user.socials?.twitter %>"><i class="fab fa-twitter"></i></a>
        <% } %>
        <% if(user.socials?.tiktok) { %>
          <a target="_blank" rel="noopener noreferrer" href="https://tiktok.com/@<%= user.socials?.tiktok %>"><i class="fab fa-tiktok"></i></a>
        <% } %>
      </div>
      <% if(auth) { %>
        <div class="edit-box">
          <a class="edit" href="/user/<%= user.username %>/edit?pass=<%= data.req.query?.pass %>">
            Edit
          </a>
        </div>
      <% } %>
    </div>
    <div class="column-profile-header">
      <% if(user.fmusername && lastfm.np) { %>
        <span class="label" id="np_label" style="cursor: pointer;">Now playing</span>
        <div class="nowplaying" id="np">
          <% let song = lastfm.np; %>
          <% if(song) { %>
            <div class="song">
              <div class="song-icon">
                <img src="<%= song.imageURL %>" alt="<%= song.album %>" title="<%= song.album %>">
              </div>
              <div class="info">
                <a href="<%= song.url %>" target="_blank" rel="noopener noreferrer" tabindex="-1">
                  <h4 class="title">
                    <%= truncateString(song.title, 28) %>
                  </h4>
                  <p class="artist">
                    <%= truncateString(song.artist, 25) %>
                  </p>
                </a>
                <p class="footer" id="listen_on_spotify">
                  Listening now on <i class="fab fa-spotify" style="margin-left: 2px;"></i>
                </p>
              </div>
            </div>
          <% } %>
        </div>
      <% } if(lastfm.wac && lastfm.wac.length > 1) { %>
        <span class="label" id="aoftw_label" style="cursor: pointer;">Albums of the week</span>
        <div class="albums-of-the-week" id="aoftw">
          <% lastfm.wac.slice(0, 5).forEach((album) => { %>
            <% let title = `#${album.rank} - ${album.name} - ${album.artist} | ${album.playcount} plays`; %>
            <a href="<%= album.url %>" rel="noopener noreferrer" target="_blank">
              <div class="album">
                <img src="<%= album.imageURL ? album.imageURL : 'https://cdn.dema.city/images/DemaCity.png' %>" alt="<%= title %>" title="<%= title %>">
              </div>
            </a>
          <% }); %>
        </div>
      <% } %>
      <% if(user.pronoun.length > 1) { %>
        <p class="pronoun">
          <span class="label">Pronoun</span><br>
          <%= user.pronoun %>
        </p>
      <% } %>
      <p class="location">
        <span class="label">Location</span><br>
          <% let weatherText = weather ? `${weatherIcon} ${weather.temperature}C°` : ''; %>
          <%= user.location %> <span class="right" id="weather"><%= weatherText ? weatherText : '' %></span>
      </p>
      <% if(user.about?.length > 1) { %>
        <p class="about" id="about">
          <span class="label">About</span><br>
          <%= truncateString(user.about, 330) %>
        </p>
      <% } %>
    </div>
  </div>

  <div class="profile-body">
    <div class="feed box">
      <div class="text-box">
        <% if(auth) { %>
          <textarea class="text" name="post-content" id="post-content" placeholder="Write here what you're thinking about" maxlength="256"></textarea>
          <textarea class="location" name="post-location" id="post-location" placeholder="Location" maxlength="20"></textarea>
          <button id="post-button">Post</button>
        <% } else { %>
          <textarea type="text" disabled id="logged-warning-feed">You have to be logged in to post</textarea>
        <% } %>
      </div>
      <div class="profile-posts">
        <div class="post" tabindex=0>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, facilis hic voluptate officia aperiam maxime!
            </p>
          </div>
          <div class="details">
            <span class="date">
              30/11/2021 at 12:00
            </span>

            <span class="location">
              <i class="fas fa-map-marker-alt"></i> London, UK
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="rightcolumn box">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, quis. Ullam, ipsa culpa. Cumque quia magnam dolorem nam recusandae debitis ab consequatur quaerat eos ex, labore reprehenderit voluptates voluptatem at.</p>
    </div>
  </div>

  <!-- <% if(!user.portfolio.private && user.portfolio.photos.length > 0) { %>
    <div class="portfolio box" style="padding: 1px 25px; padding-bottom: 25px; display: none;">
      <h2 style="margin-left: 1%;">
        Portfolio <span class="label">/ Photos</span>
      </h2>
  
      <div class="photos">
        <% user.portfolio.photos.forEach((photo) => { %>
          <%
            let reg = /^(https?:)?\/\/(\w+\.)?imgur\.com\/(\S*)(\.[a-zA-Z]{3})$/;
            let redirect_photo = photo.match(reg)?.[3];
          %>
          <a href="https://imgur.com/<%= redirect_photo %>" target="_blank" rel="noopener noreferrer">
            <img class="photo" src="<%= photo %>"/>
          </a>
        <% }) %>
      </div>
    </div>
  <% } %> -->
</div>

<%- include('../../Blocks/footer'); %>

<div id="data" data-avaliable_users="<%= users.map((data) => data.username) %>"></div>

<script>
  // Copyable stuff
  copyToClipboard('user_id');
  copyToClipboard('user_username');

  //
  let users = document.getElementById('data')?.dataset.avaliable_users.split(/,/g);
  let about = document.getElementById('about')?.innerHTML;
  let reg = /@[A-Za-z]+/i;
  let hReg = /#[A-Za-z]+/i;
  let found_users = about?.match(reg);
  let found_hashtags = about?.match(hReg);
  
  if(found_users) {
    for(let u of found_users) {
      if(users.includes(u.replace('@', ''))) {
        about = about.replace(u, `<a class="mention" target="_blank" rel="noopener noreferrer" href="/user/${u.replace('@', '')}">${u}</a>`);
      }
    };
  }

  if(found_hashtags) {
    for(let h of found_hashtags) {
      about = about.replace(h, `<a class="hashtag" target="_blank" rel="noopener noreferrer" href="https://twitter.com/search?q=${encodeURIComponent(h.replace('#', ''))}&src=typed_query">${h}</a>`);
    }
  }

  if(about) {
    document.getElementById('about').innerHTML = about;
  }

  let user_icon = document.getElementById('user-icon');
  user_icon.addEventListener('click', async () => {
    try {
      await navigator.share({
        title: 'Dema City - <%= user.name ? user.name : user.username %>',
        text: "<%= user.about?.length > 1 ? user.about : `Visit ${user.name ? user.name : user.username}'s profile.` %>",
        url: 'https://dema.city/user/<%= user.username %>',
      });
    } catch(err) {
      console.log(err);
    }
  });

  if(document.getElementById('np')) {
    $('#aoftw').hide();
    $('#aoftw_label').hide();
  }

  $('#np_label').on('click', () => {
    $('#aoftw').show();
    $('#aoftw_label').show();
    $('#np').hide();
    $('#np_label').hide();
  });

  if(document.getElementById('np')) {
    $('#aoftw_label').on('click', () => {
      $('#aoftw').hide();
      $('#aoftw_label').hide();
      $('#np').show();
      $('#np_label').show();
    });
  }

  $(document).on('click', (target) => {
    if(target.target.id === 'logged-warning-feed') {
      $('.profile-posts').css('margin-top', '0px');
      target.target.remove();
    }
  });

  $('#post-location')?.hide();

  document.getElementById('post-content').onfocus = () => {
    $('#post-location')?.show();
  };

  document.getElementById('post-content').onblur = foni;
  document.getElementById('post-location').onblur = foni;

  function foni() {
    setTimeout(() => {
      if(document.querySelector('#post-location') == document.activeElement || document.querySelector('#post-content') == document.activeElement) return;
      $('#post-location')?.hide('slow');
    }, 5);
  };

  //
  $('#clipboard-alert').hide();
  function copyToClipboard(id) {
    var copyText = document.getElementById(id);
    copyText.addEventListener('click', async () => {
      navigator?.clipboard?.writeText(copyText.innerText);
      $('#clipboard-alert')?.toggle({
        duration: 5000
      });
      setTimeout(() => {
        $('#clipboard-alert')?.toggle();
      }, 2500)
    });
    return copyText;
  }
</script>

<% 
function truncateString(str, num) {
  if (str.length > num) {
    return str.slice(0, num).trimRight() + "...";
  } else {
    return str;
  }
}
%>