<%- include('header') %>

<body>
  <div class="homepage">
    <div class="container">

      <div class="subjects" id="subjects">
        <h3 class="subjects-title">
          Matérias
        </h3>
        <p class="subjects-description">
          Aqui você encontra os trabalhos e projetos da turma.
        </p>
        <div class="list">
          <% DATA.subjects.forEach((subject) => { %>
            <div class="subject">
              <span class="title">
                <%= subject.name %>
              </span>
              <a href="/subject/<%= subject.id %>" class="link">
                Ver mais
              </a>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="students" id="students">
        <h3 class="students-title">
          Estudantes
        </h3>
        <p class="students-description">
          Aqui estão os estudantes registrados em projetos da plataforma.
        </p>
        <div style="margin-top: 45px;">
          <% DATA.students.forEach((student) => { %>
            <div class="student">
              <img class="avatar" src="<%= student.avatar && student.avatar.length > 1 ? student.avatar : 'https://www.bluebridgewindowcleaning.co.uk/wp-content/uploads/2016/04/default-avatar.png' %>" alt="<%= student.name ?? student.id %>" title="<%= student.name ?? student.id %>">
              <span class="name">
                <%= student.name.length >= 1 ? student.name : student.username.length >= 1 ? student.username : student.id %>
              </span>
              <span class="projects">
                <% let projects = DATA.projects.filter((project) => student.projects?.includes(project.id))?.length ?? 0; %>
                <%= projects > 1 || projects < 1 ? `${projects} projetos` : `${projects} projeto` %>
              </span>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="about" id="about">
        <h3 class="about-title">
          Sobre
        </h3>
        <p class="about-description">
          Criado utilizando <span>Typescript</span>, <span>Node.JS</span>, <span>EJS</span> e <span>SCSS</span>. Hospedado na <span>DigitalOcean</span> e acessado através do domínio <span>dema.city</span>.<br> O <span>Código fonte</span> está disponível aqui <a href="https://github.com/jurgenjacobsen/dema.city" target="_blank" rel="noopener noreferrer" style="font-size: 1.2rem; margin-left: 5px;"><i class="fab fa-github"></i></a>.
          <br>
        </p>
        <div class="qr">
          <div class="btn"><button id="qr_button" style="display: none;">QR Code</button> <button id="youtube" style="display: none;">Demo</button></div>
          <img src="<%= data.cdn %>/images/eseq-qr.png" alt="QR" title="QR" id="qr">
        </div>
      </div>	
    </div>
  </div>
</body>

<script>
  $(document).ready(function() {
    $('#qr_button').show();
    $('#youtube').show();

    $('#qr_button').click(function() {
      $('#qr').toggle();
    });

    $('#youtube').click(function() {
      window.open('https://youtu.be/kJjgKW-PSrQ', '_blank');
    });
  });
</script>

<%- include('../Blocks/footer') %>