<%- include('header') %>

<div class="container project-body">
  <div class="project-head" id="head">
    <% if(project.banner && project.banner.length > 1) { %>
      <img class="banner" src="<%= project.banner %>">
    <% } %>
    <h2 class="project-title">
      <%- project.title %>
    </h2>
    <p class="project-description">
      <%- project.description %>
    </p>
    <div class="details">
      <span class="date" title="Última edição">
        <% let date = new Date(project.date); %>
        <%- `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} às ${date.getHours()}:${date.getMinutes()}` %>
      </span>
      <% if(project.tag && project.tag.length > 1) { %>
        <span class="tags" title="Palavras chave">
          <span class="slash">|</span>
          <span class="tag">
            <%- project.tag %>
          </span>
        </span>
      <% } %>
      <% if(project.students && project.students.length >= 1) { %>
        <span class="slash" style="margin-left: 5px;">|</span>
        <span class="students" title="Integrantes">
          <% project.students.map((s) => DATA.students.find((stu) => stu.id === s || stu.username === s)).forEach((student) => { %>
            <img src="<%= student.avatar && student.avatar.length > 1 ? student.avatar : 'https://www.bluebridgewindowcleaning.co.uk/wp-content/uploads/2016/04/default-avatar.png' %>" alt="<%= student.name %>" title="<%= student.name %>" class="avatar">
          <% }) %>
        </span>
      <% } %>
    </div>
  </div>
  
  <div class="spacer"></div>

  <div class="project-content">
    <%- include(`projects/${project.id}`) %>
  </div>
</div>

<div class="project-controls" id="project-controls">
  <button class="btn" id="head-btn"><i class="fas fa-home"></i></button>
  <button class="btn" id="prev-btn"><i class="fas fa-arrow-up"></i></button>
  <button class="btn" id="next-btn"><i class="fas fa-arrow-down"></i></button>
</div>

<div style="width: 100%; height: 300px;"></div>

<%- include('../Blocks/footer') %>

<script>

  let projectControls = document.getElementById('project-controls');
  let nextSlideButton = document.getElementById('next-btn');
  let prevSlideButton = document.getElementById('prev-btn');
  let headButton = document.getElementById('head-btn');

  let slides = document.querySelectorAll('.slide');
  let slideNumber = window.location.href.split('#')?.[1] && !isNaN(window.location.href.split('#')?.[1]) ? Number(window.location.href.split('#')?.[1]) : undefined;


  if(slides.length === 0) {
    projectControls.style.display = 'none';
  }

  function positionControllers() {
    let height = document.body.scrollTop > 0 ? document.body.scrollTop : document.documentElement.scrollTop;
    let windowWidth = window.innerWidth;

    projectControls.style.left = (windowWidth + projectControls.offsetWidth) / 10 + 'px';
    projectControls.style.top = `${height + (window.innerHeight / 1.5)}px`;
  };

  positionControllers();
  updateControllers();

  window.onscroll = positionControllers;
  window.onresize = positionControllers;
  
  setTimeout(updateControllers, 1000);

  for(let i = 0; i < slides.length; i++) {
    slides[i].setAttribute('tabindex', 0);
    slides[i].setAttribute('id', i + 1);
    slides[i].setAttribute('onmousedown', '');
  }

  document.getElementById(`${slideNumber ?? 'head'}`).focus();
  
  function updateControllers() {
    if(!slideNumber || slideNumber <= 0) {
      headButton.setAttribute('disabled', 'disabled');
      prevSlideButton.setAttribute('disabled', 'disabled');
      nextSlideButton.removeAttribute('disabled');
    } else if(slideNumber === 1) {
      prevSlideButton.setAttribute('disabled', 'disabled');
      headButton.removeAttribute('disabled');""
    } else if(slideNumber >= slides.length) {
      headButton.removeAttribute('disabled');
      prevSlideButton.removeAttribute('disabled');
      nextSlideButton.setAttribute('disabled', 'disabled');
    } else {
      headButton.removeAttribute('disabled');
      prevSlideButton.removeAttribute('disabled');
      nextSlideButton.removeAttribute('disabled');
    }
  }

  nextSlideButton.addEventListener('click', () => {
    if(isNaN(slideNumber)) slideNumber = 0;
    if(slideNumber >= slides.length) {
      slideNumber = 1;
    } else {
      slideNumber++;
    }
    window.location.href = `#${slideNumber}`;
    window.scrollTo(0, slidePosition(slideNumber));
    setTimeout(() => window.scrollTo(0, slidePosition(slideNumber)), 100);
    updateControllers();
  });

  prevSlideButton.addEventListener('click', () => {
    if(isNaN(slideNumber)) slideNumber = 0;
    if(slideNumber <= 1) {
      slideNumber = slides.length;
    } else {
      slideNumber--;
    }
    window.location.href = `#${slideNumber}`;
    window.scrollTo(0, slidePosition(slideNumber));
    setTimeout(() => window.scrollTo(0, slidePosition(slideNumber)), 100);
    updateControllers();
  });

  headButton.addEventListener('click', () => {
    slideNumber = 0;
    window.location.href = `#head`; 
    document.getElementById('head').focus();
    window.scrollTo(0, document.getElementById('head').offsetTop - 500);
    updateControllers();
  });

  function slidePosition(slide) {
    return document.getElementById(slide).offsetTop - 50;
  }

  document.onkeydown = (e) => {
    if(e.keyCode === 38) {
      prevSlideButton.click();
      e.preventDefault();
    } else if(e.keyCode === 40) {
      nextSlideButton.click();
      e.preventDefault();
    } else if(e.keyCode === 36) {
      headButton.click();
      e.preventDefault();
    } else if(e.keyCode === 32) {
      e.preventDefault();
    }
  };



</script>