<!DOCTYPE html>
<html translate="no">
  <head>
    <title>Dema City</title>

    <meta charset="UTF-8">
    <meta translate="no">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= cdn %>/images/favicon.ico">
    <link rel="stylesheet" href="<%= cdn %>/styles/css/main.css">

    <meta name="theme-color" content="#1c1c1c">
    <meta property=”og:type” content=”website”/>
    <meta property="og:title" content="Dema City">
    <meta property="og:url" content="https://dema.city">
    <meta property="og:description" content="Dema City is a multiporpose with news, documentations and social features!">
    <meta property="og:image" content="<%= cdn %>/images/logo.png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="<%= cdn %>/scripts/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3N4GLN1Q2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-H3N4GLN1Q2');
    </script>
  </head>
  <body class="noselect">
    <div class="loader"> <div class="bar"></div></div>
    <div class="navbar" id="navbar">
      <ul>
        <li><a class="disabled">Dema City</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <% if(user) { %>
          <li class="right"><a class="profile" href="/me"><% if(user?.icon) { %> <img src="<%= user.icon %>"/> <% } %> <%= user ? user.username : 'Profile'%></a></li>
        <% } else { %>
          <li class="right"><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>